streamlit>=1.28.0
langchain>=0.1.0
langchain-community>=0.0.10
faiss-cpu
python-docx>=0.8.11
pypdf2>=3.0.1
sentence-transformers>=2.2.2
transformers>=4.35.0
numpy>=1.24.0
pandas>=2.0.0
modelscope>=1.9.0
PyYAML>=6.0

# PyTorch CUDA 11.8 版本
--index-url https://download.pytorch.org/whl/cu118
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0
